* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-color: #e6e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player{
  width: 50%;
  height: 100%;
  background-color: #e6e1e1;
  text-align: center;
  padding: 100px;
}

.player_name{
  font-size: 30px;
  font-weight: bold;
}

.player_score{
  font-size: 40px;
  font-weight: bold;
  background-color: #333;
  margin: auto;
  border-radius: 25px;
  border: 2px solid black;
  padding: 25px;
  width: 100px;
  color: white;
  margin-top: 30px;
}

.player_current_score{
  margin: auto;
  padding: 10px;
  width: 150px;
  border-bottom: 3px solid black;
  font-size: 40px;
  font-weight: bold;
  margin-top: 150px;
}

.player_container{
  border: 1px solid lightgray;
    background: white;
    border-radius: 15px;
    padding: 63px 0px;
}

