* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-color: #e6e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player{
  width: 50%;
  height: 100%;
  background-color: #e6e1e1;
  text-align: center;
  padding: 120px;
}

.player_name{
  font-size: 30px;
  font-weight: bold;
}

.player_score{
  font-size: 40px;
  font-weight: bold;
  background-color: #333;
  margin: auto;
  border-radius: 25px;
  border: 2px solid black;
  padding: 25px;
  width: 100px;
  color: white;
  margin-top: 30px;
}

.player_current_score{
  margin: auto;
  padding: 10px;
  width: 150px;
  border-bottom: 3px solid black;
  font-size: 40px;
  font-weight: bold;
  margin-top: 150px;
}

.player_container{
  border: 1px solid lightgray;
    background: white;
    border-radius: 15px;
    padding: 63px 0px;
}

.target{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: inherit;
  font-size: 3.5rem;
  color: black;
  text-transform: uppercase;
  cursor: help;
  font-weight: 400;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 1);
  padding: 33px 25px;
  border-radius: 50rem;
  top: 10rem;
}

.target-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: inherit;
  font-size: 3.5rem;
  color: black;
  text-transform: uppercase;
  cursor: help;
  font-weight: 400;
  top: 5rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
  border: 1px solid black;
  background-color: #333;
  padding: 1.5rem 3rem;
  border-radius: 2.5rem;
  box-shadow: 0 4px 3px rgb(0 0 0 / 30%);
}

.btn_roll{
  top: 47rem;
}
.btn_hold{
  top: 53rem;
}

.dice{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 22px 21px rgb(0 0 0 / 40%);
  top: 30rem;
  width: 85px;
  border-radius: 10px;
}

.btn_new_game {
  left: 12rem;
  top: 3rem;
}

.hidden{
  display: none;
}