* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-color: #e6e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.8);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  border: 0.5px solid gray;
  background-color: white;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.circle--target {
  position: absolute;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);
  font-family: inherit;
  font-size: 3.5rem;
  color: gray;
  text-transform: uppercase;
  cursor: help;
  font-weight: 400;
  border: 3px solid #c7365f;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.7rem;
  border-radius: 50rem;
  top: 8rem;
}

.circle--target::after {
  content: 'Target';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -60px;
  z-index: 1;
}
.btn--new {
  top: 36rem;
}

.btn--roll {
  top: 42rem;
}
.btn--hold {
  top: 48rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 22.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.player--winner {
  background-color: lightgreen;
}

.player--winner .name {
  font-weight: 700;
  color: green;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 745px) {
  main {
    display: block;
    height: 100%;  
  }
  .player {
    height: 50%;
  }
  .score {
    font-size: 5rem;
  }
  .btn{
    font-size: 1.5rem;
  }
  .btn--roll {
    top: 48%;
    left: 18%;
    width: 33%;
  }
  .btn--hold {
    top: 48%;
    width: 33%;
    left: 82%;
  }
  .btn--new {
    top: 3%;
    left: 23%;
  }
  .circle--target {
    position: absolute;
    left: 85%;
    width: 70px;
    height: 70px;
    font-family: inherit;
    font-size: 2rem;
    color: gray;
    text-transform: uppercase;
    cursor: help;
    font-weight: 400;
    border: 3px solid #c7365f;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.7rem;
    border-radius: 50rem;
    top: 6%;
  }
  .circle--target::after {
    top: -35px;
  }
  .name {
    font-size: 3rem;
  }
  .dice {
    height: 10%;
    top: 45%;
  }
}
